<main class="">
    <h1>welcome to the Pokémon trainer app</h1>
    <h3>you need to login to continue</h3>
    
        
        Username: <input type="text" [formControl]="userNameControl">
    
</main>
